body {
  font: 14px/18px Helvetica, Arial, "DejaVu Sans", "Liberation Sans", Freesans,
    sans-serif;
}

.top_product {
  background-color: white;
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.center {
  width: 90%;
  margin: 0 auto;
  min-height: 200px;
}

.box {
  text-decoration: none;
  float: left;
  padding: 2%;
  width: 15%;
  height: 100%;
  background-color: white;
  text-align: left;
  position: relative;
  overflow: hidden;
}

.imgbox {
  overflow: hidden;
  height: 90%;
}

.imgbox img {
  width: 100%;
  transform: translate(0, 0);
  transition: transform 0.5s ease;
}

.box:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 0.2s;
}

.name {
  font-size: 1.2vw;
  font-weight: normal;
  color: black;
}

.new_price {
  color: brown;
  font-size: 1.2vw;
  font-weight: bold;
  margin-top: 5%;
}
.hover {
  background: rgba(0, 0, 0, 0.9);
  height: 15%;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  display: none;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.3vw;
  font-weight: 600;
}
@keyframes up {
  0% {
    bottom: -50%;
  }
  100% {
    bottom: 0;
  }
}
.box:hover .hover {
  display: flex;
  animation-name: up;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
}
.box:hover .imgbox img {
  transform: scale(1.1);
}
.slideshow-container {
  width: 70%;
  float: left;
  height: 350px;
  overflow: hidden;
}
.tintuc {
  min-height: 350px;
  width: 28%;
  margin-left: 1%;
  float: left;
  border: gainsboro 1px solid;
}

.title {
  width: 100%;
  background-color: #ec1f27;
  height: 35px;
  display: flex;
  align-items: center;
}

.title a {
  color: white;
  text-decoration: none;
  font-size: 1.1vw;
  font-weight: bold;
  margin-left: 2%;
}

.content {
  height: 315px;
}

.tin {
  height: 20%;
  margin-bottom: 5%;
}

.hinh-tin {
  float: left;
  width: 30%;
  height: 100%;
  display: flex;
}

.title-tin {
  float: left;
  width: 70%;
  height: 100%;
}

.hinh-tin img {
  width: 100%;
}

.topproduct {
  float: left;
  width: 100%;
  margin-top: 2%;
  min-height: 350px;
  border: 1px solid gainsboro;
}

.title-top {
  height: 50px;
  padding-left: 2%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid gainsboro;
}

.content-top {
  height: 80%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
